<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="top-right">
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" class="btn-sign-out"value="Sign Out" />
        </form>
    </div>
    <ul class="btn-welcome-out">Welcome: <%= currentUser.username %></ul>
    <h1 class="heading">Contacts</h1>
    <div class="container">
        <!--Used these links to use the tables on html
             https://www.w3schools.com/howto/howto_html_table_nested.asp 
            https://www.w3schools.com/tags/tag_th.asp
            https://www.w3schools.com/tags/tag_tr.asp#:~:text=Definition%20and%20Usage,%3E%20or%20elements.-->
        <a href="/contacts/new" class="btn btn-primary">Create Contact</a>
        <table class="contact-table">
            <tbody>
                <% for(let i=0; i < allContacts.length; i++){ %>
                    <tr>
                        <th class="contact-name" scope="row">
                            <a href="/contacts/<%= allContacts[i]._id %>">
                                <%= allContacts[i].name %>
                            </a>
                        </th>
                        <td class="action-btn">
                            <a href="/contacts/<%= allContacts[i]._id %>/edit" class="btn btn-secondary">Edit</a>
                        </td>
                        <td class="action-btn">
                            <form method="POST" action="/contacts/<%= allContacts[i]._id %>?_method=DELETE">
                                <input type="submit" class="btn btn-danger" value="DELETE"/>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>
