<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= contact.name %></h1>
    <h3>Contact Details:
        <ul>
            <li>
                <img src="<%= contact.imageUrl %>" alt="Contact Image">
            </li>
            <li>
                Name: <%= contact.name %>
            </li>
            <li>
                Phone: <%= contact.phone %>
            </li>
            <li>
                Address: <%= contact.address %>
            </li>
        </ul>
    </h3>
    
</body>
</html>